/* You can add global styles to this file, and also import other style files */
body {
    background-color: #EFEEE7;
    font-family: 'Playfair Display', serif;
    padding-top: 70px;
}

h1,
h2,
h3,
p,
a,
button {
    font-family: 'Playfair Display', serif;
}